
<div class="task-list mdl-card mdl-shadow--2dp">
    <form action="/crear" method="post">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="titulo" name="titulo" />
            <label class="mdl-textfield__label" for="titulo">Qué quieres escribir ...</label>
        </div>
    </form>
    <div class="task-item">
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-card__supporting-text " }">
            <input type="checkbox"  class="mdl-checkbox__input" checked />
            <span class="mdl-checkbox__label">titulo</span>
        </label>
    </div>
    <div class="mdl-card__actions mdl-grid">
        <div class="mdl-cell mdl-cell--5-col">
            <span class="pending-task-count">pendientes</span>
        </div>
        <div class="mdl-cell mdl-cell--7-col">
            <span class="task-filter "><a href="/Todas"</a></span>
            <span class="task-filter "><a href="/pendientes">Pendientes</a></span>
            <span class="task-filter "><a href="/completas">Completas</a></span>
        </div>
    </div>
</div>
